<!doctype html>
<html lang="hr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Security App</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>

      <div class="index-hero">

        <div class="index-card">

            <h2>Demonstracija sigurnosti</h2>
            <p class="lead">Izaberite između dvije kategorije primjera nesigurnosti:</p>

            <div class="btn-row">
                <a href="/sql"><button class="btn">Isprobaj SQL Injection</button></a>
                <a href="/login"><button class="btn secondary">Isprobaj Broken Authentication</button></a>
            </div>

        </div>
    </div>
</body>
</html>
