<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <div class="container page">
        <div class="card">
            <h2>Uspješno prijavljeni!</h2>

            <div class="result">
                <p>Vaša sesija traje 15 minuta, ako želite čekati uživajte u keksiću: cookieID/sessionID</p>
                <%= user.username %>
                <%= cookie_time %>
                <%= cookie_httponly %>
            </div>

            <div style="display:flex; gap:12px; margin-top:12px;">
                <button class="btn">Log Out</button>
                <a href="/login" ><button type="button" class="btn secondary">Natrag</button></a>
            </div>
        </div>
    </div>
</body>
</html>